apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: envoy-gateway-system

resources:
- namespace.yaml
- https://github.com/envoyproxy/gateway/releases/download/v1.2.2/install.yaml
- gatewayclass.yaml