apiVersion: apps/v1
kind: Deployment
metadata:
  name: vinyl-audio-analyzer
  namespace: vinyl-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vinyl-audio-analyzer
  template:
    metadata:
      labels:
        app: vinyl-audio-analyzer
    spec:
      containers:
        - name: vinyl-audio-analyzer
          image: ghcr.io/timosur/vinyl-manager/audio-analyzer:sha-c393f61@sha256:90ab7adb4f573fc4a9376a5152343fbe15a4db3eb3d06ed1b46a0ed6c709a477
          ports:
            - containerPort: 5000
          resources:
            limits:
              memory: "1Gi"
              cpu: "1000m"
            requests:
              memory: "512Mi"
              cpu: "100m"
          livenessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
