apiVersion: apps/v1
kind: Deployment
metadata:
  name: givgroov
  namespace: givgroov
spec:
  replicas: 1
  selector:
    matchLabels:
      app: givgroov
  template:
    metadata:
      labels:
        app: givgroov
    spec:
      containers:
        - name: givgroov
          image: ghcr.io/timosur/givgroov:sha-dd4b56b@sha256:a3fedb86b86d5febd278a57e463709f1723f9205ee770d04cd9b662865fa66e4
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "128Mi"
              cpu: "50m"
            requests:
              memory: "32Mi"
              cpu: "25m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
