apiVersion: apps/v1
kind: Deployment
metadata:
  name: bike-weather-frontend
  namespace: bike-weather
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: bike-weather-frontend
  template:
    metadata:
      labels:
        app: bike-weather-frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/timosur/bike-weather/frontend:0.0.3
          ports:
            - containerPort: 80
          env:
            - name: VITE_AUTHENTIK_URL
              value: "https://auth.bike-weather.com/application/o/bike-weather/"
            - name: VITE_AUTHENTIK_CLIENT_ID
              value: "bike-weather"
            - name: VITE_TURNSTILE_SITE_KEY
              value: "0x4AAAAAACiLCGBX77uzEqk9"
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 60
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
