apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - gateway.yaml
  - wildcard-certificate.yaml
  - givgroov-certificate.yaml
  - http-to-https-redirect.yaml
