apiVersion: apps/v1
kind: Deployment
metadata:
  name: garden-frontend
  namespace: garden
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: garden-frontend
  template:
    metadata:
      labels:
        app: garden-frontend
    spec:
      nodeSelector:
        workload-type: arm
      containers:
        - name: garden-frontend
          image: ghcr.io/timosur/life-as-a-garden/frontend:sha-cf6eb53@sha256:745f32dc937c7811d1e7d0874fc9615c22f09644039a3a1ac7b1b537e3408713
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "100m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 60
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
