---
# tasks file for k3s-control-plane

- name: Check if k3s is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/k3s
  register: k3s_binary

- name: Install k3s server
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="{{ k3s_version }}" \
      K3S_TOKEN="{{ k3s_token }}" \
      INSTALL_K3S_EXEC="server \
        --write-kubeconfig-mode=644 \
        --disable=traefik \
        --flannel-backend=none \
        --disable-network-policy \
        --disable-kube-proxy \
        --node-ip={{ node_ip }}" \
      sh -
  become: true
  when: not k3s_binary.stat.exists
  args:
    creates: /usr/local/bin/k3s

- name: Wait for k3s to be ready
  ansible.builtin.wait_for:
    path: /etc/rancher/k3s/k3s.yaml
    timeout: 300

- name: Create .kube directory for timosur
  ansible.builtin.file:
    state: directory
    path: /home/timosur/.kube
    owner: timosur
    group: timosur
    mode: "0755"
  become: true

- name: Copy k3s kubeconfig
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /home/timosur/.kube/config
    owner: timosur
    group: timosur
    remote_src: true
    mode: "0600"
  become: true

- name: Wait for k3s node to be available in nodes overview
  ansible.builtin.command: kubectl get nodes
  register: kubectl_get_nodes
  retries: 10
  delay: 15
  until: kubectl_get_nodes.rc == 0
  changed_when: false

- name: Display kubectl get nodes output
  ansible.builtin.debug:
    msg: "{{ kubectl_get_nodes.stdout }}"

- name: Set control_plane_ip fact
  ansible.builtin.set_fact:
    control_plane_ip: "{{ node_ip }}"
