apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
        - name: mealie
          image: ghcr.io/mealie-recipes/mealie:v3.5.0
          ports:
            - containerPort: 9000
          envFrom:
            - configMapRef:
                name: mealie-config
            - secretRef:
                name: mealie-postgres-password
          volumeMounts:
            - name: mealie-data
              mountPath: /app/data
          resources:
            limits:
              memory: "512Mi"
              cpu: "400m"
            requests:
              memory: "256Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /api/app/about
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /api/app/about
              port: 9000
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data
