---
- name: Setup k3s cluster with Cilium
  hosts: k3s_cluster
  gather_facts: yes
  become: yes

- name: Setup k3s control plane
  hosts: control_plane
  gather_facts: yes
  become: yes
  roles:
    - k3s-control-plane

- name: Setup k3s worker nodes
  hosts: workers
  gather_facts: yes
  become: yes
  roles:
    - k3s-worker

- name: Install and configure Cilium
  hosts: control_plane
  gather_facts: yes
  become: yes
  roles:
    - cilium
