---
# handlers file for k3s-control-plane

- name: Restart k3s
  ansible.builtin.systemd:
    name: k3s
    state: restarted
    daemon_reload: true
  become: true
  when: k3s_binary.stat.exists | default(false)
