apiVersion: v1
kind: Secret
metadata:
  name: azure-secret
  namespace: {{ external_secrets_namespace }}
type: Opaque
stringData:
  ClientID: "{{ azure_client_id }}"
  ClientSecret: "{{ azure_client_secret }}"