apiVersion: v1
kind: Secret
metadata:
  name: {{ git_repo_name }}
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ git_repo_url }}